/* styles.css */
#background-canvas {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the canvas is behind other content */
    display: block; /* Remove any extra spacing below the canvas */
    filter: blur(3vw);
}

/* Styling for main content */
.content {
    position:fixed;
    z-index: 1; /* Ensure content is above the canvas */
}



body {

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 10vw;
    color: #000000;
    line-height: 17vw;

    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 3vw;
    margin-top: 5vw;
    background-color: #ffffff;

    overflow: hidden;

}


.text-container {
    max-width: 100%; /* Ensure the container does not exceed the screen width */
    box-sizing: border-box; 
    position: relative;
    white-space: inherit;
    overflow-wrap: break-word;
}

.word {
    white-space: 3vh;
    -webkit-filter: blur(1.6vw); /* For Safari */
    filter: blur(1.6vw);
    transition: -webkit-filter 12s ease; /* For Safari */
    transition: filter 12s ease;
}

.word:hover {
    filter: blur(0px);
    transition: -webkit-filter 0.5s ease; /* For Safari */
    transition: filter 0.5s ease;
    
}



#interactive-text-2 {
    filter: blur(1.6vw);
    transition: -webkit-filter 12s ease; /* For Safari */
    transition: filter 12s ease;
}

#interactive-text-2:hover {
    filter: blur(0px);
    transition: -webkit-filter 1s ease; /* For Safari */
    transition: filter 1s ease;
    
}


#interactive-text {
    -webkit-user-drag: none; /* Prevents dragging on WebKit-based browsers like Safari */
    -webkit-user-select: none; /* Prevents text selection on WebKit-based browsers like Safari */
    -moz-user-select: none; /* Prevents text selection on Firefox */
    -ms-user-select: none; /* Prevents text selection on Internet Explorer/Edge */
    user-select: none; /* Standard syntax for preventing text selection */
}